body {
  background-color: #2F303A;
}

h1{
  text-align: center;
  font: 60px Grenze;
  color: #C4C4C4;
  margin-bottom: -10;
}

h2{
  text-align: center;
  font: 25px Grenze, Italic;
  color: #C4C4C4;
  margin-bottom: 10px;
}

hr{
  margin-top: -5px;
  margin-bottom: 5px;
  width: 45%;
}

div.myButton{
  background-image: url(/images/icon.png);
  background-repeat: no-repeat;
  align-items: baseline;
}

.form-control{
  width: 6/7*100%;
  margin-top: 10px;
  height: 40px;
  color: #C4C4C4;
  text-si
}
.button{
  align-items: baseline;
}
